.listproblem{
    height: auto;
    margin-bottom: 1rem;
    a{
        color: black;
    }
    .list_problem{
        height: 80vh;
    }
    .create_problem{
        .problem_content{
            border: 1px solid #ccc;
            padding: 5px;    
            h3, h3::before{
                cursor: context-menu;
                display:inline-block; 
                content:' \25E3';  /*' \25E5'*/
            }
        }
    }
    .problem-detail{
        height: 100%;
        .problem-name{
            a{
                position: relative;
                top: -9px;
                font-size: 1.5rem;
                color: black;
                background-color: $color-dark;
                border-radius: 1rem;
                margin-top: 1rem;
                float: right;
                background: #fab005;
                color: black !important;
                font-weight: bold;
                justify-content: center;
                outline: none;
                border: none;
                &:hover {
                    background: lighten(#fab005,10%)
                }
                &:active {
                    background: darken(#fab005,10%)
                }
            }
            span{
                display: inline;
                margin-right: 10px;
                font-size: 3rem;
            }
        }
        .problem-content{
            h3{
                display:inline-block;
                font-size: 2.5rem;
                cursor: context-menu;
                border-bottom: 1px solid #ccc;
                &::before{
                    content:' \25E3';  /*' \25E5'*/
                }
            }
          
            p{
                padding: 1rem;
            }
        }
    }
}