$indigo: #4263eb; //INDIGO 7
$orange: #fd7e14; //ORANGE 7
$yellow: #fab005; //YELLOW 7


@mixin button-color($color) {
    background: $color;
    &:hover { // 마우스 올렸을때 색상의 밝기를 설정 가능-색상을 10% 밝게 설정
        background: lighten($color,10%)
        }
    &:active {// 마우스 클릭했을 때 색상 변경-색상을 10% 어둡게 설정
        background: darken($color,10%)
        }
    &.outline {
        color: $color;
        background: none; //배경색 없음
        border: 1px solid $color; //color로 테두리색 결정
        &:hover {
            background: $color; //마우스 올렸을때 배경색
            color: white; // 폰트색 하얀색
        }
    }
}
.Button{
    display: inline-flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    outline: none;
    border: none; //테두리를 없애줌
    border-radius: 4px; //꼭지점 둥글하게
    cursor: pointer; //커서를 올리면 포인터 모양으로 바꿔줌

    padding-left: 1rem; 
    padding-right: 1rem;// 버튼 내부 여백 설정

    &.large {
        height: 3rem; //버튼의 크기는 3rem으로 함
        font-size: 1.25rem; //16*1.25px로 설정
    }
    &.medium {
        height: 2.25rem; //버튼의 크기는 2.25rem으로 함 rem=2.25*16px=기본 폰트 사이즈에 기반하여 사이즈가 조정됨.
        font-size: 1rem; //16px로 설정
    }
    &.small {
        height: 1.75rem; //버튼의 크기는 1.75rem으로 함 
        font-size: 0.875rem; //16*0.875px로 설정
    }

    height: 2.25rem; //버튼의 크기는 2.25rem으로 함 rem=2.25*16px=기본 폰트 사이즈에 기반하여 사이즈가 조정됨.
    padding-left: 1rem; 
    padding-right: 1rem;// 내부 여백 설정
    font-size: 1rem; //16px로 설정

    &.indigo {
        @include button-color($indigo);
    }

    &.orange {
        @include button-color($orange);
    }

    &.yellow {
        @include button-color($yellow);
    }

    
    & + & {
        margin-left: 1rem; //좌우 여백 1rem
        margin-top: 1rem; //위아래 여백 1rem
    }

    &.fullWidth {
        width: 100%;
        justify-content: center; //좌,우,가운데중 가운데 정렬 주의: 위에 display: inline-flex; 썼을 때만 사용가능
        & + &{ // 같이 있으면 위아래 간격 1rem
            margin-left: 0;
            margin-top: 1rem;
        }
    }

}