.homework-tabl th, td{
    text-align: unset;
}

.bar_1 {
    background: orange;
    padding: 0.5rem;
}

.bar_2 {
    background: #ccc;
    margin-top:5px;
    height: 1px;
    
}
.class-view{
    border: 1px solid #ccc;
    height: 201px;
    text-align: center;
    padding-top: 20px;
}

#searchOption{
    width: 263px;
}

.paging_bottom_bar_1 {
    background: white;
    margin-top: -20px;
    font-size: 15pt;
    height: 40px;
}

.paging_bottom_bar_2 {
    background: white;
    margin-top: 20px;
    font-size: 15pt;
    height: 40px;
}

#btn-group {
    text-align: center;
    border-color: #dcdcdc;
    font-size: 10pt;
    color: white;
    right : -10px;

}

