/*********************************
- 2020 Web IDE
*********************************/
@import "https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap";
/*==================Header================*/
/* Table */
/* Create class */
/* Create homework  */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body {
	font-family: 'Noto', sans-serif;
	color: black !important;
	font-size: 15px;
	background-color: #ffffff;
	text-rendering: optimizeLegibility;
}
h1 {
	font-size: 3em;
	line-height: 1;
	margin-bottom: 0.5em;
}
h2 {
	font-size: 2em;
	margin-bottom: 0.75em;
}
h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 1em;
}
h4 {
	font-size: 1.2em;
	line-height: 1.25;
	margin-bottom: 1.25em;
}
h5 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1.5em;
}
h6 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1.5em;
}
ul {
	li {
		list-style: none;
		display: inline;
	}
}
a {
	&:hover {
		outline: none;
		text-decoration: none;
		color: #ccc;
	}
	&:focus {
		outline: none;
		outline-offset: 0px;
	}
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
	-o-transition: 200ms;
	transition: 200ms;
	color: black;
}
.header-top {
	background: none repeat scroll 0 0 #695B50;
	color: white !important;
	h1 {
		margin-top: 20px;
	}
	a {
		color: white !important;
	}
	.log-out {
		margin-top: 60px;
	}
}
.header-bottom {
	background-color: #E9DEDE;
	li {
		font-size: 20px;
		padding-left: 100px;
		line-height: 2.5em;
	}
}
.profile {
	padding: 10px;
	border: 1px solid #D4D4D5;
	margin-bottom: 30px;
	background: rgb(240, 234, 234);
	padding-top: 20px;
}
.home-option-select {
	li {
		font-size: 30px;
		padding-left: 20px;
		border: 1px solid #ccc;
		padding: 10px;
		background: rgb(235, 230, 226);
		&:first-child {
			border-right: 0;
		}
	}
}
.thead-light {
	background: #ccc;
	font-size: 20px;
}
table {
	th {
		text-align: center;
	}
}
#table-col-9 {
	td {
		text-align: center;
	}
}
.home-page {
	padding: 0px;
}
.class-page {
	padding: 0px;
	padding: 0px;
}
.class-register {
	border: 1px solid #ccc;
}
.form-control {
	width: 250px;
	display: inline;
	margin-left: 20px;
}
label {
	font-size: 20px;
}
.col-sm-6 {
	text-align: center;
}
.col-sm-7 {
	padding-left: 23px;
}
#ta.form-control {
	margin-left: 67px;
}
#date.form-control {
	width: 155px;
	margin: 0;
}
label.timeText {
	text-align: left;
	padding-right: 90px;
}
*[role="form"] {
	h2 {
		text-align: center;
	}
}
.list-group {
	font-size: 20px;
	width: 250px;
	background-color: #ccc;
}
#list-class {
	width: 250px;
	font-size: 20px;
	height: 60px;
	padding: 3px;
	padding-left: 10px;
	background: #ccc;
}
.class-objects {
	border: 1px solid #ccc;
	float: right;
	margin-right: 15px;
	padding: 0px;
}
.class-talks {
	margin: 0px;
	padding: 0px;
	button {
		a {
			box-shadow: none;
			font-size: 2em;
			color: white;
		}
	}
}
.homwork {
	padding: 15px;
}
.homework-table {
	margin-bottom: 0px;
}
.evaluation {
	padding: 10px;
	padding-top: 10px;
}
.create-hw {
	line-height: 50px;
	padding: 5px;
}
#inputhw-name {
	width: 100%;
	margin-left: 0px;
}
input[type=file] {
	display: inline;
}
button {
	line-height: 0;
}
input {
	line-height: 0;
}
select {
	line-height: 0;
}
textarea {
	line-height: 0;
}
#viewEditor {
	width: 100%;
}
.text-editor {
	display: none;
}
.cke-editor {
	width: 100%;
}
.tb-community {
	border: 4px solid #ccc;
	margin: 0px;
	td {
		text-align: center;
	}
}
