.class__instance{
    height: 100%;
    margin-bottom: 10rem;
    a{
        color: black;
    }
    &-top{
        height: 5rem;
        color: white;
        background-color: rgba($color-dark,  .9);
        .my_class-list{
            select{
                height: 5rem;
                width: 22.3rem;
                border-color: #ccc;
                margin-top: -12px;
                position: absolute;
                font-size: 2rem;
            }
        }
    }
    &-body{
        .left-box{
            background-color: rgba($color-dark,  0.9);
            ul{
                width: 100%;
                li{
                    position: relative;
                    text-align: center;
                    border-bottom: 1px solid white;
                    a{
                        padding: 10px;
                        font-size: 3rem;
                        color: white;
                        font-weight: bold;
                        display: block;
                    }
                    .nav-selected-class{
                       background-color: $color-dark;
                    }
                }
            }
        }
        .right-box{
            color: black;
            /*
            공지 사항, 학습 목차, ... show layout
            */
            .class_board{
                .board__content-view{
                    border: 1px solid $color-dark;
                    .board-title{
                        background-color: rgba($color-dark,  .5);
                        padding: 5px 5px 5px 5px;
                        .tasks{
                            float: right;
                            font-weight: 1000;
                            a{
                                margin-left: 10px;
                            }
                        }
                    }
                    .board-infor,.board-file{
                        padding: 5px 5px 5px 5px;
                    }
                    .board-content{
                        border-top: 1px solid $color-dark;
                        padding: 15px 5px 15px 5px;
                        border-bottom: 1px solid $color-dark;
                    }
                   
                }
                .board__content-write{
                        border: 1px solid $color-dark;
                        legend{
                            background-color: rgba($color-dark,  .5);
                            padding: 5px ;
                        }
                        .form-group{
                            .board-title, .board-content, .board-file{
                                padding: 5px;
                                input{
                                    width: 50%;
                                    border: none;
                                    border-bottom: 1px solid $color-dark;
                                    outline: none;
                                    padding: 0.5rem;
                                }
                            }
                            button{
                                position: absolute;
                                margin-left: 25%;
                                transform: translate(-50%,70%);
                            }
                        }
                }
                
            }
            .class_homeworks{
                .btn__classtask{
                    float: right;
                }
                .list__homework{
                    .homework{
                        border: 1px solid $color-dark;
                        .homework_title{
                            border-bottom: 1px solid $color-dark;
                            font-size: 2rem;
                            .title{
                                padding: 5px;
                            }
                            .tasks{
                            float: right;
                            margin-top: -4.5rem;
                              ul li{
                                  display: inline-block;
                                  margin-left: 0.5rem;
                              } 
                            }
                        }
                        .homework_file,.homework_content{
                            border-bottom: 1px solid $color-dark;
                            padding: 5px 10px 5px 10px;
                        }
                        .homework_file{
                            border: none;
                        }
                        border-bottom: 0.5rem solid $color-dark;
                        margin-bottom: 3rem;
                        box-shadow: 0rem 1.5rem 4rem rgba($color-dark,0.2);
                    }
                   
                }
            }
            .class_student{
                .td-tasks{
                    padding:10px !important;
                    a{
                        margin-left: 4px;
                    }
                }
            }
            .class_create-homework{
                .homework_content{
                    legend{
                        background-color: rgba($color-dark, 0.5);
                    }
                    b{
                        padding: 2px;
                    }
                    #btn-editor{
                        margin-left: 44%;
                    }
                    border: 1px solid #ccc;
                }
                .cke-editor{
                    width: 100%;
                }
                .col:nth-child(2){
                    margin-left: 1rem !important;
                    .text-editor{
                        display: none;
                        padding-top: 1rem;
                    }
                    #viewEditor{
                        width: 100%;
                    }
                }
              
            }
            .class_document{
                .document_add{
                    border: 1px solid #ccc;
                    legend{
                        background-color: rgba($color-dark, 0.5);
                    }
                    .form-group{
                        padding: 5px;
                    }
                }
            }
        }
    }
}