.home{
    height: 52vh;
    position: relative;
    a{
        color: black;
    }    
    .home_bottom-box{
        /*Home page -> Open Course*/
        .open-course{
            background-color: red;
        }
    }
}