/*CSS for header*/
.header-content{
    background: none repeat scroll 0 0 #695B50;
  }
.header-bottom nav{
    background-color: #E9DEDE;
    border-radius: 0px;
  }
.header-text .navbar-brand{
    color: black;
    padding-left: 120px;
  }
.header-text .navbar-brand a{
    text-align: center;
  }
  .navbar-brand a{
    color:black;
  }
.sys-name{
    color:white;
  }
.log-out{
    margin-top: 50px;
    color:white;
}
.navbar-collapse{
      border: none;
}
.navbar{
        margin-bottom: 5px;
}
.navbar-nav{
    font-size: 20px;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #F1592A;
}