
/*********************************
- 2020 Web IDE
*********************************/
@import url(https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap);
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Noto', sans-serif;
    color: black !important;
    font-size: 15px;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}
h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 2em;
    margin-bottom: 0.75em;
}
h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
}
h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}
h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}
h6 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}
ul li{
    list-style: none;
    display: inline;
}
a:hover{
    outline: none; 
    text-decoration: none;
    color:#ccc;
}
a:focus{
    outline:none;
    outline-offset: 0px;
}
a{
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    color:black;
}
.btn-primary{
    border-radius: 0px;
}
/*==================Header================*/
.header-top{
    background: none repeat scroll 0 0 #695B50;
    color: white !important;
}
.header-top h1{
    margin-top: 20px;
}
.header-top a{
    color: white !important;
}
.header-top  .log-out{
    margin-top: 60px;
}
.header-bottom{
    background-color: #E9DEDE;
}
.header-bottom li{
    font-size: 20px;
    padding-left: 100px;
    line-height: 2.5em;
}
.profile{
    padding: 10px;
    border: 1px solid #D4D4D5;
    margin-bottom: 30px;
    background: rgb(240, 234, 234);
    padding-top: 20px;
  }
.home-option-select li{
    font-size: 30px;
    padding-left: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background: rgb(235, 230, 226);
}
.home-option-select li:first-child{
    border-right: 0;
}
/* Table */
.thead-light{
    background: #ccc;
    font-size: 20px;
}
table th{
    text-align: center;
}
#table-col-9 td{
    text-align: center;
}
#table-col-6 #table-col-7 th, td{
    text-align: center;
}
/* Create class */
.home-page,.class-page, .class-page{
    padding: 0px;
}
.class-register{
    border: 1px solid #ccc;
}

.form-control{
    width: 250px;
    display: inline;
    margin-left: 20px;
}
label{
    font-size: 20px;
}
.col-sm-6{
    text-align: center;
}
.col-sm-7 {
    padding-left: 23px;
}
#ta.form-control{
    margin-left: 67px;
}
#date.form-control{
    width: 155px;
    margin: 0;
}
label.timeText{
    text-align: left;
    padding-right: 90px;
}
*[role="form"] h2{
    text-align: center;
}
.list-group{
    font-size: 20px;
    width: 250px;
    background-color: #ccc;
}
#list-class{
    width: 250px;
    font-size: 20px;
    height: 60px;
    padding: 3px;
    padding-left: 10px;
}
.class-objects{
    border: 1px solid #ccc;
    float: right;
    margin-right: 15px;
    padding: 0px;
}
.class-talks{
    margin: 0px;
    padding: 0px;
}
.class-view{
    height: 200px;
    border: 1px solid #ccc;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
}
.class-talks button a{
    box-shadow: none;
    font-size: 2em;
    color: white;
}
.homwork{
    padding: 15px;
}
.homework-table{
    margin-bottom: 0px;
}
.homework-table td{
    text-align: left !important;
}
.evaluation{
    padding: 10px;
    padding-top: 10px;
}
/* Create homework  */
.create-hw{
    line-height: 50px;
    padding: 5px;
}
#inputhw-name{
    width: 100%;
    margin-left: 0px;
}
input[type=file] {
    display: inline;
}
button, input, select, textarea {
    line-height: 0;
}
#viewEditor{
    width: 100%;
}
.text-editor{
    display: none;
}
.cke-editor{
    width: 100%;
}
.tb-community {
    border: 4px solid #ccc;
    margin: 0px;
}
.tb-community td{
    text-align: center;
}
.class-notice{
    padding: 10px;
}
#notice-search-option, #problem-search-option{
    padding: 4px;
    font-size: 15px;
    height: 34px;
}
.notice-search, .problem-search{
    margin-bottom: 10px;
}
.notice-content-view{
    border: 1px solid #ccc;
    padding:  10px;
    display: none;
}
.notice-title{
    margin: -10px;
    padding: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-bottom: 10px;
    background: #e6e6e6;
}
.notice-info{
    margin: -10px;
    padding: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
.write-notice-content{
    border: 1px solid #ccc;
    padding: 5px;
    display: none;
}
.problem-example-text{
    text-align: left;
}
textarea.form-control{
    width: 100%;
    margin: 0px;
}
#search, .fa-search{
    line-height: 19px;
    padding: 5px;
}
.notice-task{
    margin: -7px;
    margin-right: -6px;
    color: white;
}
/* Index page 
- 로그인 
- 회원 가입
- 구현자 리스트
*/
.index-top{
    height: 60px;
    background: rgb(64, 64, 64);
    padding: 15px;
}
.index-top a{
   font-size: 20px;
   color: white;
   font-weight: bold;
}
.index-logo{
    width: 200px;
    height: 200px;
}
.index{
    height: 93rem;
    background: rgb(44, 62, 80);
    color: white;
    padding: 150px;
    padding-top: 160px;
}
.index, .top-text, .bottom-text, .mid-btn{
    text-align: left;
}
/*DGU Programming*/
.index span{
    padding-left: 10px;
    font-size: 70px;
    font-weight: bold;
}
.index h2{
    font-size: 40px;
    font-weight: bold;
}
.index h3{
    font-size: 20px;
    line-height: 30px;
}
.index-page a:nth-child(2),a:nth-child(3){
    margin-left: 30px;
}
.login-form{
    margin: 0 auto;
    width: 500px;
    height: 600px;
    -webkit-box-shadow: 6px 6px 25px -2px rgba(0,0,0,0.88);
    -moz-box-shadow: 6px 6px 25px -2px rgba(0,0,0,0.88);
    box-shadow: 6px 6px 25px -2px rgba(0,0,0,0.88);
    background: rgb(255, 255, 255);
    overflow: hidden;
    color: black;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.focus-input100-1::before,
.focus-input100-2::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #4272d7;
}

.focus-input100-1::before {
  top: -1px;
  left: 0;
}

.focus-input100-2::before {
  bottom: -1px;
  right: 0;
}

.focus-input100-1::after,
.focus-input100-2::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 0;
  background-color: #4272d7;
}

.focus-input100-1::after {
  top: 0;
  right: -1px;
}

.focus-input100-2::after {
  bottom: 0;
  left: -1px;
}

.input100:focus + .focus-input100-1::before {
  -webkit-animation: full-w 0.2s linear 0s;
  animation: full-w 0.2s linear 0s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

.input100:focus + .focus-input100-1::after {
  -webkit-animation: full-h 0.1s linear 0.2s;
  animation: full-h 0.1s linear 0.2s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

.input100:focus + .focus-input100-1 + .focus-input100-2::before {
  -webkit-animation: full-w 0.2s linear 0.3s;
  animation: full-w 0.2s linear 0.3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

.input100:focus + .focus-input100-1 + .focus-input100-2::after {
  -webkit-animation: full-h 0.1s linear 0.5s;
  animation: full-h 0.1s linear 0.5s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}
@keyframes full-w {
    to {
      width: calc(100% + 1px);
    }
  }
  
  @keyframes full-h {
    to {
      height: calc(100% + 1px);
    }
  }
input.input100 {
    height: 50px;
    padding: 0 25px 0 25px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.wrap-input100 {
    margin: 0 auto;
    width: 93%;
    height: 50px;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    border-image: initial;
}
.input100 {
    display: block;
    width: 100% !important;
    font-size: 15px;
    color: #666666;
    outline: none;
}
.btn-login{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93%;
    height: 60px;
    background-color: rgb(211, 84, 0);
    font-size: 25px;
    color: #fff;
    line-height: 1.2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border: none;
}
.footer{
    padding: 30px 0px;
    background: #e9e9e9;
}
/* Regsiter-form */
.register-table input[type="password"],input[type="text"]
{
    height: 50px;
    width: 90%;
}
.register-table input[type="email"]{
    height: 50px;
    width: 65%;
}
/*Text - left*/
.register-table td{
    border: none !important;
    line-height: 50px !important;
}
.email-select{
    width: 42%;
    margin-right: 10px;
    height: 50px;
}
.email{
    display: flex;
    padding-left: 10px;
}
.index-contripution{
    color: white;
    background-color: black;
    font-size: 20px;
    padding: 15px;
}
.contripution{
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 10pt;
}
table.list-contripution th {
    border-left: 1px #000 solid;
    border-right: 1px #000 solid;
    border-bottom: 1px #CFCFCF solid;
    color: black;
    background:#ccc;
}