
/*********************************
- 2020 Web IDE
*********************************/
@import url(https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap);
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Noto', sans-serif;
    font-size: 15px;
    color: black;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}
ul li{
    list-style: none;
    display: inline;
}

a:hover{
    outline: none; 
    text-decoration: none;
    color:#ccc;
}
a:focus{
    outline:none;
    outline-offset: 0px;
}
a{
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    color:white;
}