.btn{
    &:hover{
        transform: translateY(-.3rem);
        box-shadow: 0 .5rem 2rem rgba(black, 0.2);
       
    }
    &:active{
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 2rem rgba(black, 0.2);
    }
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 4rem;
        display: inline-block;
        font-size: 1.6rem;
        position: relative;
        transition: all .2s;        
    }
    &__primary{
        background-color: $color-orange;
        color: white !important;
        padding: 1rem 2rem;
        font-size: 2rem;
        border: none;
        cursor: pointer;
        outline: none;
        box-shadow: 0 .5rem 2rem rgba(black, 0.5);
    }
    &__contribution{
        font-size: 2rem !important;
        margin-top: 10px;
        background-color: black;
    }
    &__write{
        float: right;
    }
    
}