html, body {
  height: 100%;
}

#root {
  height: 100%;
}

* {
  outline: none;
}

.fullsize {
  position: fixed;
  display: block;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 100;
  background: rgba(0,0,0,0.25);
  .modal-wrapper {
      position: absolute;
      left: 0; right: 0; margin: 100px auto;
      box-sizing: border-box;
      width: 500px;
      background: white;
      border-radius: 10px;
      .modal-header {
        text-align: center;
        padding: 25px;
        .close {
          cursor: pointer;
          position: absolute;
          right: 20px;
          top: 20px;
          font-size: 15px;
        }
      }
      .modal-body {
        padding: 0 20px;
      }
      .modal-footer {
        display: flex;
        justify-content: flex-end;
        padding: 20px 20px 10px;
        button {
          margin-left: 5px;
        }
      }
  }
}