.class__info{
    .row{
        font-size: 3.5rem;
        text-align: center;
        padding: 1rem 5rem 0rem 5rem;
        background-image:linear-gradient(to right bottom, rgba($color-brown, .5), rgba($color-pink, .5)), url('https://eclass.dongguk.edu/lmsdata/img/classroom/design_templet/visual_img_large01.jpg');
        background-size: cover;
        background-position: top;
        position: relative;
    }
    &-details{
        width: 70rem;
        float: right;
        background-color: rgba(#ccc, 0.8);
        position: relative;
        font-size: 2rem;    
        padding: 10px;
        margin-bottom: 2rem;
        color: black;
        border-radius: 2rem;
        .table{
            border-color: rgba(black, 0.5);
            th{
                background-color: rgb(114, 109, 109);
                color: white;
            }
        }
    }

}