#table-col-4, #table-col-6 th{
    background-color: #D8D8D8;
    padding-top: 12px;
    padding-bottom: 12px;
    
}

#table-col-7 th{
    background-color: #D8D8D8;
    padding-top: 12px;
    padding-bottom: 12px;
}


#table-col-4,  #table-col-6 th, td {
    text-align: center;   
    border: 1px solid #ccc;
 }

 #table-col-7 th, td {
    text-align: center;   
    border: 1px solid #ccc;
 }

#table-col-4,  #table-col-6 {
    width : 100%;
    text-align: center;
    letter-spacing: 1px;
    
}

#table-col-7 {
    width : 100%;
    text-align: center;
    letter-spacing: 1px;
}

#table-col-6  {
    font-size: 12pt;
    font-weight : 5pt;
}

#table-col-7  {
    font-size: 12pt;
    font-weight : 5pt;
}

#table-col-6 td{
    font-size: 12pt;
    font-weight : 5pt;
}

#table-col-7 td{
    font-size: 12pt;
    font-weight : 5pt;
}

.Bar{
    background-color : #ccc;
    padding : 0.05rem;
    margin-top: 5px;

}
#paging {
    margin-top: -20px;
    text-align: center;
}

#status {
    text-align: center;
    padding: 5px;
}

#btn1 {
    background-color: navy;
    border: none;
    margin-right: 5pt;
}

#btn2 {
    background-color: orange;
    border: none;
}

#btn3 {
    background-color: orange;
    border: none;
}