.ul-nolist-inline{
    list-style: none;
    display: inline-block !important;
}
.mr-top-small{
    margin-top: 1rem;
}
.mr-bottom-small{
    margin-bottom: 1rem;
}
.btn-shadow{
    box-shadow: 0 .5rem 2rem rgba(black, 0.2);
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.nav-selected{
    background-color: $color-brown;
    color: white !important;
    margin-left: 8px;
}