.home{
    height: 70vh;
    position: relative;
    a{
        color: black;
    }    
    .home_bottom-box{
        /*Home page -> Open Class*/
        .open_class{
            .open_td{
                padding: 8px;
            }
        }
    }
}